/* Your CSS styles here */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

header,
nav,
section,
footer {
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.btn {
  display: inline-block;
  background-color: #221e1e;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  header,
  nav,
  section,
  footer {
    padding: 10px;
  }

  nav ul li {
    display: block;
    margin-bottom: 10px;
  }
}

body {
  width: auto;
  height: auto;
  background-color: gray;
  margin: auto;

  animation-name: warna;
  animation-duration: 5s;

  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes warna {
  0% {
    background-color: rgb(63, 63, 63);
  }
  30% {
    background-color: rgb(99, 90, 90);
  }
  80% {
    background-color: rgb(53, 51, 51);
  }
  100% {
    background-color: rgb(27, 26, 26);
  }
}

section ul {
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}

th {
  color: #000000;
}

footer {
  color: #ddd;
}

h1 {
  color: #ddd;
}
ul {
  color: #ddd;
}
tr {
  color: #ddd;
}
h2 {
  color: #ddd;
}
p {
  color: #ddd;
}
 label {
    color: #ddd;
 }

 